.navbar-toggle {
  border: none;
  color: black;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
    background: #7B53C1!important;
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


.navbar{
  background-color:#F8F9FA;
  height: 90px;
  /*color: black;*/
    /*padding-top: 1.5em;*/
}

#navbar{
  background-color:#F8F9FA;
  /*height: 100%;*/
    padding-top: 1.5em;
}


.headerItem a{
  color: #7B53C1!important;
  margin-top: 8px;
  text-align: center
}

.navbar>li>a {
  color: #7B53C1!important;
  margin-top: 8px;
  text-align: center
}


.navbar-inverse .navbar-nav>li>a{
 color: #7B53C1!important;
}

#colorNav{
 color: #7B53C1!important;
  margin-top: 8px;
  text-align: center
}


  @media only screen and (max-width: 775px) {
  .headerItem a{
  	font-size: 1.5em;
  }
  
  .navbar-inverse .navbar-nav>li>a{
 font-size: 1.5em;
}
  
     }

/*.navbar {*/
/*    background: #F8F9FA;*/
/*    border: none;*/
/*    color: black;*/
/*    height: 7em;*/


/*}*/


/*.navbar-inverse a{*/
/*    color: #7B53C1!important;*/
/*}*/

#headerBtn {
    font-size: 16px;
    color: #7B53C1;;
    border: 1px solid #7B53C1;
    border-radius: 3px;
    padding: 6px 15px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    display: inline-block;
    background-color: white;
    /*margin-bottom: 20px;*/
}

#headerBtn:hover{
    background-color:#7B53C1;
    color: white!important;
}

.headerBtn{
  /*padding-top: 20px;*/
}

/*.header{*/
/*    padding-top: 2em;*/
/*}*/

#mainTitle {
    /*font-family: 'Fredoka One';*/
    font-size: 2em;
    color: #7B53C1;
    padding-top: 10px;
        
}




/*.navbar-toggle {*/
/*  border: none;*/
/*  background: transparent !important;*/

/*}*/
/*.navbar-toggle:hover {*/
/*  background: transparent !important;*/
  
/*}*/
/*.navbar-toggle .icon-bar {*/
/*  width: 25px;*/
/*  height: 3px;*/
/*  transition: all 0.2s;*/
/*  background: black !important;*/
/*  margin-top: 25px;*/
/*}*/
/*.navbar-toggle .top-bar {*/
/*  transform: rotate(45deg);*/
/*  transform-origin: 10% 10%;*/
/*}*/
/*.navbar-toggle .middle-bar {*/
/*  opacity: 0;*/
/*}*/
/*.navbar-toggle .bottom-bar {*/
/*  transform: rotate(-45deg);*/
/*  transform-origin: 10% 90%;*/
/*}*/
/*.navbar-toggle.collapsed .top-bar {*/
/*  transform: rotate(0);*/
/*}*/
/*.navbar-toggle.collapsed .middle-bar {*/
/*  opacity: 1;*/
/*}*/
/*.navbar-toggle.collapsed .bottom-bar {*/
/*  transform: rotate(0);*/
/*}*/







/*  @media only screen and (max-width: 1000px) {*/
  
/*.navbar-collapse{*/
/*    background:#2c3e50!important;*/
/*}*/
/*     }*/
     
     
/*     @media only screen and (max-width: 1000px) {*/
  
/*.navbar-inverse li{*/
/*    font-size: 30px;*/
/*    text-align: center!important;*/
    /*width: 100%!important;*/

/*}*/
/*     }*/

/*   @media only screen and (max-width: 1000px) {*/
  
/*.navbar-inverse a{*/
/*    color: white!important;*/
/*}*/
/*     }*/


/*  @media only screen and (max-width: 1000px) {*/
  
/*#headerBtn{*/
/*    width: 80%;*/
/*    height: 50px;*/
/*    font-size: 30px!important;*/
/*}*/
/*     }*/


/*@media (min-width: 768px) and (max-width: 1000px) {*/
/*    .navbar-collapse.collapse {*/
/*        display: none !important;*/
/*    }*/
/*    .navbar-collapse.collapse.in {*/
/*        display: block !important;*/
/*    }*/
/*    .navbar-header .collapse, .navbar-toggle {*/
/*        display:block !important;*/
/*    }*/
/*    .navbar-header {*/
/*        float:none;*/
/*    }*/
    
/*.navbar-inverse li{*/
/*    font-size: 30px;*/
/*    text-align: center!important;*/
/*    width: 100%!important;*/
/*    margin-left:-50%;*/

/*}*/
    
/*}*/



/*#ffb7b7;*/



/****** LOGIN MODAL ******/
/*.loginmodal-container {*/
/*  padding: 30px;*/
/*  max-width: 350px;*/
/*  width: 100% !important;*/
/*  background-color: #F7F7F7;*/
/*  margin: 0 auto;*/
/*  border-radius: 2px;*/
/*  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*  overflow: hidden;*/
/*  font-family: roboto;*/
/*}*/

/*.loginmodal-container h1 {*/
/*  text-align: center;*/
/*  font-size: 1.8em;*/
/*  font-family: roboto;*/
/*}*/

/*.loginmodal-container input[type=submit] {*/
/*  width: 100%;*/
/*  display: block;*/
/*  margin-bottom: 10px;*/
/*  position: relative;*/
/*}*/

/*.loginmodal-container input[type=text], input[type=password] {*/
/*  height: 44px;*/
/*  font-size: 16px;*/
/*  width: 100%;*/
/*  margin-bottom: 10px;*/
/*  -webkit-appearance: none;*/
/*  background: #fff;*/
/*  border: 1px solid #d9d9d9;*/
/*  border-top: 1px solid #c0c0c0;*/
  /* border-radius: 2px; */
/*  padding: 0 8px;*/
/*  box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*}*/

/*.loginmodal-container input[type=text]:hover, input[type=password]:hover {*/
/*  border: 1px solid #b9b9b9;*/
/*  border-top: 1px solid #a0a0a0;*/
/*  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
/*  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
/*  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
/*}*/

/*.loginmodal {*/
/*  text-align: center;*/
/*  font-size: 14px;*/
/*  font-family: 'Arial', sans-serif;*/
/*  font-weight: 700;*/
/*  height: 36px;*/
/*  padding: 0 8px;*/
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
/*}*/

/*.loginmodal-submit {*/
  /* border: 1px solid #3079ed; */
/*  border: 0px;*/
/*  color: #fff;*/
/*  text-shadow: 0 1px rgba(0,0,0,0.1); */
/*  background-color: #4d90fe;*/
/*  padding: 17px 0px;*/
/*  font-family: roboto;*/
/*  font-size: 14px;*/
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
/*}*/

/*.loginmodal-submit:hover {*/
  /* border: 1px solid #2f5bb7; */
/*  border: 0px;*/
/*  text-shadow: 0 1px rgba(0,0,0,0.3);*/
/*  background-color: #357ae8;*/
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
/*}*/

/*.loginmodal-container a {*/
/*  text-decoration: none;*/
/*  color: #666;*/
/*  font-weight: 400;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  opacity: 0.6;*/
/*  transition: opacity ease 0.5s;*/
/*} */

/*.login-help{*/
/*  font-size: 12px;*/
/*}*/

/*.modal-backdrop{*/
/*    position: absolute!important;*/
/*}*/






/*Footer CSS*/
/*Footer CSS*/
/*Footer CSS*/
/*Footer CSS*/
/*Footer CSS*/
/*Footer CSS*/


.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}